

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url(https://theboardsource.com/cdn/shop/files/the-board-source-banner-tribute-crop.png?v=1700777547&width=1400);">
  <div class="container">
    <h1><strong>Welcome to Surf RnR</strong><strong></strong></h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= render "shared/searchform" %>
  </div>
</div>
<div class="container m-5">
  <%= render "shared/carousel" %>
</div>
